<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/perfil-page.css">
</head>
<%- include ("../partials/navbar2.ejs") %>

<body>
    
    <div class="tetudo">

        <div class="metade1">
            <div class="menu-perfil">

                <div class="nome-perfil">
                    <div class="img-container">
                        <img class="perfil-photo" src="/img/icons8-male-user-preto.png" alt="">
                    </div>
                    
                    <div class="nomes">
                        <h5>Perfil321_.</h5>
                        <h6>Perfil de Souza Ribeiro</h6>
                    </div>
                </div>

                <div class="menu">
                    <ul>
                        <li>Meu Perfil</li>
                        <li><a href="/meu-veiculo">Meu Veículo</a></li>
                        <li><a href="/minhas-reservas">Minhas Reservas</a></li>
                        <li><a href="/contas">Contas</a></li>
                    </ul>
                </div>
                
            </div>

        </div>
    



        <div class="metade2">
            <div class="meu-perfil">
        
            </div>
        </div>
    </div>

</body>

<%- include ("../partials/footer.ejs") %>