<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/perfil-page.css">
</head>
<%- include ("../partials/navbar3.ejs") %>

<body>

    <div class="tetudo"> 
        <div class="metade1">



            <div class="menu-perfil">

                <%- include ("../partials/box-parts/nomePerfil.ejs") %> <!-- foto de perfil, nome de usuário e nome -->

                <div class="menu">
                    <ul>
                        <li>Meu Perfil</li>
                        <li><a href="/vehicle_page">Meu Veículo</a></li>
                        <li><a href="/reserv_page">Minhas Reservas</a></li>
                        <li><a href="/accounts_page">Contas</a></li>
                    </ul>
                </div>
            </div>
            <div class="align-center">
                <a href="/logout">
                    <button class="btn_black">Sair</button>
                </a>
            </div>

        </div>



        <div class="metade2">

            <div class="container">
                <div class="meu-perfil">
                    <div class="title-align">
                        <h2>Meu perfil</h2>
                    </div>
                    <div class="metadinhas-align">
                        <div class="metadinha1">
                            <label>Nome de usuário:</label>
                            <label>Nome:</label>
                            <label>Email:</label>
                            <label>Número de telefone:</label>
                            <label>Sexo:</label>
                            <label>CPF:</label>
                            <label>RG:</label>
                            <label>Data de nascimento:</label>
                        </div>
    
                        <div class="metadinha2">
                            <input class="input_inputes" type="text" name="user_name" id="user_name" value="Perfil321_.">

                            <input class="input_inputes" type="text" name="name" id="name" value="Perfil de Souza Ribeiro">

                            <input class="input_inputes" type="text" name="email" id="email" value="perfil@email.com">
                            
                            <input class="input_inputes" type="text" name="telefone" id="telefone" value="+98 (12) 12345-6789">

                            <div class="radio-group">
                                <input type="radio" id="masculino" name="sexo" value="masculino" checked>
                                <label for="masculino">Masculino</label>
        
                                <input type="radio" id="feminino" name="sexo" value="feminino">
                                <label for="feminino">Feminino</label>
        
                                <input type="radio" id="outro" name="sexo" value="outro">
                                <label for="outro">Outro</label>
                            </div>

                            <input class="input_inputes" type="text" name="cpf" id="cpf" value="123.456.789-10">

                            <input class="input_inputes" type="text" name="rg" id="rg" value="1.234.567">

                            <input class="input_inputes" type="text" name="data_nasc" id="data_nasc" value="01/01/1980">

                            <button class="btn_yellow btn_sw">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</body>

<%- include ("../partials/footer.ejs") %>