<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/perfil-page.css">
</head>
<%- include ("../partials/navbar2.ejs") %>

<body>
    
    <div class="tetudo">

        <div class="metade1">
            <div class="menu-perfil">
                
            </div>
        </div>
    
        <div class="metade2">
            <div class="meu-perfil">
        
            </div>
        </div>
    </div>

</body>

<%- include ("../partials/footer.ejs") %>