<%- include ("../partials/header.ejs") %>
</head>
<%- include ("../partials/navbar3.ejs") %>
<body>
    <h1>RESERVA VAGAAA</h1><br>
    <h1><%= id_vaga %></h1>
</body>
<%- include ("../partials/footer.ejs") %>