<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/reserv-page.css">
</head>
<%- include ("../partials/navbar3.ejs") %>
<body>
    <div class="tetudo">

        <div class="metade1">
            <div class="menu-perfil">
                <%- include ("../partials/box-parts/nomePerfil.ejs") %> <!-- foto de perfil, nome de usuário e nome -->
                <div class="menu">
                    <ul>
                        <li><a href="/perfil_page">Meu Perfil</a></li>
                        <li><a href="/vehicle_page">Meu Veículo</a></li>
                        <li>Minhas Reservas</li>
                        <li><a href="/accounts_page">Contas</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="metade2">
            <div class="container">
                <div class="meu-perfil">
                    <div class="title-align">
                        <h2>Minhas reservas</h2>
                    </div>

                    <div class="reserv-list">
                        <div class="reserv">
                            <div class="day">
                                <div class="yellow-bar"></div>

                                <div class="special-day">
                                    <p>seg</p>
                                    <h3><strong>16</strong></h3>
                                    <p>13:15</p>
                                </div>

                                <div class="line"></div>
                            </div>
                            <div class="reserv-content">
                                <h3><strong>Vaga 25</strong></h3>
                                <p>Veículo - <strong>Mitsubishi Lancer Prata</strong></p>
                                <p>Placa - <strong>ABC1D23</strong></p>
                            </div>
                            <div class="cancel-button">
                                <a href="/cancel-reserv">Cancelar</a>
                            </div>
                        </div>

                        <div class="reserv">
                            <div class="day">
                                <div class="yellow-bar"></div>

                                <div class="special-day">
                                    <p>seg</p>
                                    <h3><strong>23</strong></h3>
                                    <p>13:15</p>
                                </div>

                                <div class="line"></div>
                            </div>
                            <div class="reserv-content">
                                <h3><strong>Vaga 32</strong></h3>
                                <p>Veículo - <strong>Honda Sahara Vermelho</strong></p>
                                <p>Placa - <strong>EFG3H45</strong></p>
                            </div>
                            <div class="cancel-button">
                                <a href="/cancel-reserv">Cancelar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
<%- include ("../partials/footer.ejs") %>