<%- include ("../partials/header.ejs") %>
</head>
<%- include ("../partials/navbar2.ejs") %>
<body>
    
    <div class="tetudo">
        <div class="metade1">

        </div>
        <div class="metade2">
            
        </div>
    </div>

</body>
<%- include ("../partials/footer.ejs") %>