<div class="container_lg_sg bg-black">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black ">
    
    
        <a href="/"><img src="/img/EASYPARK_LOGO.png" class="logo" /></a>
    
    
    
    
        <!--<ul class="navbar-nav">
            <li class="nav-item mr-2 ml-4 ">
                <a class="nav-link " href="/">Home </a>
            </li>
        </ul>-->
    
    </nav>
</div>