<%- include ("../partials/header.ejs") %>
Dados Arduino</title>
</head>
<% if(usuario.nivel_usuario == 1){ %>
    <%- include ("../partials/navbar4.ejs") %>
<% }else{ %>
    <%- include ("../partials/navbar3.ejs") %>
<% } %>
<body>
    <h1>Dados Arduino</h1>
    <form action="/dados_arduino_update" method="post">

        <label for="time">Tempo Estacionado</label>
        <input type="time" name="time" id="time"><br>

        <label for="id_dados">Id Dados</label>
        <input type="number" name="id_dados" id="id_dados"><br>

        <button type="submit">Ver</button>
    </form>
</body>
<%- include ("../partials/footer.ejs") %>