<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="/css2/park-page.css">
</head>
<%- include ("../partials/navbar3.ejs") %>
<body>
    <div class="tetudo justify-center">
        <div class="mapa">
            <div class="vaga border-top-none normal-vaga">
                <h1>01</h1>
            </div>
            <div class="vaga border-top-none normal-vaga">
                <h1>02</h1>
            </div>
            <div class="vaga border-top-none especial-vaga">
                <img src="/img/autista.png" alt="">
            </div>
            <div class="vaga border-top-none especial-vaga">
                <img src="/img/cadeirante.png" alt="">
            </div>
            <div class="vaga border-top-none especial-vaga">
                <img src="/img/gestante.png" alt="">
            </div>
            <div class="vaga border-top-none especial-vaga">
                <img src="/img/idoso.png" alt="">
            </div>
        </div>
    </div>
</body>
<%- include ("../partials/footer.ejs") %>