<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="/css2/data-page.css">
</head>
<%- include ("partials/navbar3.ejs") %>
<body>
    <div class="background-overlay"></div>
    <div class="tetudo justify-center">
        <div class="margin">
            <div class="div-header">
                <h2>Data do Agendamento</h2>
                <div>
                    <input type="date" name="date" id="date" class="input_inputes">
                    <input type="time" name="time" id="time" class="input_inputes">
                    <button type="submit" class="btn_yellow">Ver vagas</button>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ("partials/footer.ejs") %>