<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="css2/index.css">
</head>
<%- include ("partials/navbar.ejs") %>
<body>

    <div class="body-bg-image">
        <div class="words">
            <h1 class="welcome">Bem vindo</h1>
        </div>
    </div>

    <div class="hide-div">
        <div class="margin justify-center">
            <h1 align="center">Bem vindo ao <strong>EasyPark</strong>!</h1>

            <img src="/img/EASYPARK_LOGO2.png" alt="">

            <div class="buttons">
                <a href="/login_page">
                    <button class="btn_yellow btn_big">Login</button>
                </a>
                <a href="/singin_page">
                    <button class="btn_black btn_big">Cadastre-se</button>
                </a>
            </div>
        </div>
    </div>

</body>

<%- include ("partials/footer.ejs") %>