<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="css2/index2.css">
</head>
<%- include ("partials/navbar3.ejs") %>

<body class="body-index2-bg">
    <div class="test">

        <div class="wlc-bar">
            <div>
                <img src="/img/faixas.png" alt="">
                <h1 class="font_white">Bem-vindo</h1>
                <img src="/img/faixas.png" alt="">
            </div>
        </div>

        <div class="all">
            <h1>Encontre a sua vaga</h1>
    
            <!-- <a href="park_page"> -->
            <a href="data_page">
                <button class="btn-padding btn_black">Reserve sua vaga</button>
            </a>
        </div>




    </div>
</body>

<%- include ("partials/footer.ejs") %>