<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/accounts-page.css">
</head>
<%- include ("../partials/navbar3.ejs") %>
<body>
    <div class="tetudo justify-center">
        <div class="container border-defaul">
            <div class="meu-perfil">
                <div class="title-align">
                    <h2>Contas</h2>
                </div>
                <div class="account-list">
                    <div class="account">
                        <div class="input_inputes photo-name">
                            <img src="/img/icons8-male-user-preto.png" alt="">

                            <p>perfil@email.com</p>
                        </div>
                        <div class="remove-button">
                            <a href="/remove_account">
                                <button class="btn_default">Remover</button>
                            </a>
                        </div>
                    </div>
                    <div class="account">
                        <div class="input_inputes photo-name">
                            <img src="/img/icons8-male-user-preto.png" alt="">

                            <p>perfil@email.com</p>
                        </div>
                        <div class="remove-button">
                            <a href="/remove_account">
                                <button class="btn_default">Remover</button>
                            </a>
                        </div>
                    </div>
                    <div class="change-button">
                        <a href="/trocar_conta">
                            <button class="btn_yellow">Trocar conta</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ("../partials/footer.ejs") %>