.container{
    width: 50vw;
}
.account-list{
    height: 80%;
}
.account{
    display: flex;
    justify-content: space-between;
}
.input_inputes{
    width: 70%;
}
.photo-name{
    display: flex;
    align-items: center;
}
.photo-name img{
    height: 40px;
    margin-right: 20px;
}
.photo-name p{
    color: var(--text-default);
}