/*regras de estilização padrão do projeto*/
*{
    margin: 0;
}
:root{
    --dark-gray: #2C2C2C;
    --especial-color: #0392cf;
    --ocupado-color: #e13916;
    --vazio-color: #38B000;
    --primary-color: #ffffff;
    --secundary-color: #000000;
    --hovering-secundary-color: rgb(34, 34, 34);
    --terciary-color: #ffb700;
    --hovering-terciary-color: #e6a000;
    --border-default: #d9d9d9;
    --text-default: #B3B3B3;
}
h1{
    font-size: 50px;
}
h1, h2, h3, h4, h5, h6, a, li, button{
    font-family: "Poppins", sans-serif;
}
h1, h2, h5{
    font-weight: 700;
    font-style: normal;
}
ul{
    list-style: none;
}
p{
    margin-bottom: 0.01rem;
}




a{
    color: var(--text-default);
}
a:hover{
    color: var(--hovering-terciary-color);
    transition: 500ms;
}



/* pra cll */
.hide-div{
    display: none;
}
.nav-container .nav-list {
    display: flex;
    list-style: none;
  }

@media (max-width: 992px) {
    /* Esconde navbar */
    .container_lg_sg{
        display: none !important;
    }
    /* esconde background */
    .body-bg-image{
        display: none !important;
    }

    /* Estilização no cll */
    h1{
        font-size: 5vh;
    }
    button{
        height: 6vh;
        border-radius: 1vh !important;
        font-size: 2.5vh;
        font-weight: 700;
    }
    p{
        margin: 1vh 0;
        font-size: 2vh;
    }
    label{
        font-size: 2vh;
    }
    ul{
        margin: 0;
    }
    
    .hide-div{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .input_inputes{
        height: 5vh !important;
        border-radius: 1vh !important;
        padding: 0 3vw !important;
        font-size: 2vh;
    }

    /* NAVBAR MOBILE */
    .nav-container{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
        background-color: #000;
        color: #fff;
    }
    .nav-container .nav-list {
        display: none;
        list-style: none;
    }
    .nav-container .nav-list li {
        margin: 0 10px;
    }
    .nav-container .nav-list li a{
        font-size: 2vh;
    }
    .menu-toggle .bar {
        display: flex;
        background-color: #fff;
        height: 0.2vh;
        width: 4vh;
        margin: 1vh 0;
        transition: 0.3s;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 8vh;
        left: 0;
        padding: 0;
        z-index: 100;
    }
    .nav-list li {
        text-align: center;
        padding: 10px 0;
    }
    .nav-list.active {
        display: flex;
    }



    .container_lg_sg_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 100vw;
    }
    nav .logo{
        height: 6vh;
        width: 6vh;
    }
    .container_lg_sg_mobile a img{
        height: 3.5vh;
        width: 3.5vh;
    }
}




.btn-padding{
    padding: 0 15px;
}
.btn_yellow{
    /*border: solid 3px rgb(239, 174, 10);*/
    border-radius: 8px;
    border: none;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    min-width: 90px;
    min-height: 40px;
}
.btn_yellow:hover{
    background-color: var(--hovering-terciary-color);
    transition: 500ms
}
.btn_black{
    /*border: solid 3px rgb(239, 174, 10);*/
    border-radius: 8px;
    border: none;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    min-width: 90px;
    min-height: 40px;
}
.btn_black:hover{
    background-color: var(--hovering-secundary-color);
    transition: 500ms;
}
.btn_default{
    border-radius: 8px;
    border-style: solid;
    border-color: var(--border-default);
    background-color: white;
    color: var(--text-default);
    min-width: 90px;
    min-height: 40px;
}
.btn_bw{
    width: 100%;
}
.btn_sw{
    width: max-content;
}
input::-webkit-input-placeholder{
    color: var(--text-default);
}
.font_yellow{
    color: var(--terciary-color);
}
.font_white{
    color: var(--primary-color);
}
.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}





/*nav-bar*/
.navbar{
    height: 10vh;
    padding: 0;
}
.nav-link{
    font-size: 2vh;
}
.perfil_photo img{
    height: 7vh;
}
.container_lg_sg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    height: 12vh;
}
.bg-black{
    background-color: black;
}
.container_lg_sg nav .logo{
    height: 9vh;
}
.container_lg_sg .lg_sg{
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
}
.container_lg_sg .lg_sg a{
    margin: 0 10px;
}





/* inputes */
.inputes{
    display: flex;
    flex-direction: column;
}
.input_inputes{
    width: 100%;
    height: 40px;
    border-style: solid;
    border-color: var(--border-default);
    border-width: 2px;
    border-radius: 8px;
    padding: 0 15px;
}


/* perfil-page, vehicle-page, reserv-page */
.tetudo{
    height: 88vh;
    width: 100%;
    display: flex;
}
.margin{
    height: 90%;
    width: 90%;
}
.margin80{
    height: 80%;
    width: 80%;
}
.margin70{
    height: 70%;
    width: 70%;
}
.margin60{
    height: 60%;
    width: 60%;
}
.margin50{
    height: 50%;
    width: 50%;
}
.margin40{
    height: 40%;
    width: 40%;
}
.margin30{
    height: 30%;
    width: 30%;
}
.metade1{
    height: 100%;
    width: 30%; /*SE LIGA*/
}
.menu-perfil{
    margin-top: 40px;
    margin-left: 40px;
}
.nome-perfil{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.img-container{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.img-container img{
    height: 100px;
    width: 100px;
}
.img-container img:hover{
    content: url('/img/Property1=edit-photo.png');
    transition: 1s;
}
.nomes{
    margin-left: 15px;
}
.metade2{
    height: 100%;
    width: 70%; /*SE LIGA*/
    display: flex;
    align-items: center;
}
.container{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
}
.border-defaul{
    border-style: solid;
    border-color: var(--border-default);
    border-radius: 10px;
}
.meu-perfil{
    height: 100%;
    width: 74%;
}
.title-align{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}