.body-bg-image{
    background-image: url("/img/body-bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
}
.body-bg-image .words{
    display: flex;
}
.body-bg-image .words .welcome{
    font-size: 135px;
    font-weight: 700;
    font-style: normal;
    display: inline;
    margin-top: 70px;

    background-image: linear-gradient(to right, rgb(108, 108, 108), rgb(211, 211, 211));

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    color: black;
}

.hide-div{
    display: none;
}

@media (max-width: 992px) {
    /* Esconde navbar */
    .container_lg_sg{
        display: none;
    }
    /* esconde background */
    .body-bg-image{
        display: none;
    }

    /* Estilização no cll */
    .hide-div{
        display: flex;
        height: 100vh;
        background-color: black;
        justify-content: center;
    }
    .margin{
        flex-direction: column;
        /* background-color: blue; */
        justify-content: space-evenly;
    }
    .mobile-title{
        display: flex;
    }
    .margin h1{
        font-size: 90px;
        color: white;
    }
    .margin h1 strong{
        color: var(--terciary-color);
    }
    .hide-div img{
        height: 500px;
        border-radius: 40px;
    }
    .buttons{
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
