.body-index2-bg{
    background-image: url("/img/transit.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.perfil_photo{
    margin-right: 20px;
}
.test{
    height: 55vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.wlc-bar{
    width: 100%;
    height: 63px;
    background-color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wlc-bar div{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
}
.wlc-bar h1{
    margin-bottom: 0;
}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
}