h1, h2, h3, h4, h5, h6{
    color: white;
}
a{
    text-decoration: none !important;
}
.tetudo{
    background-color: var(--dark-gray);
    flex-direction: column;
}
.mapa{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 90%;
}
.vaga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 20px;
}
.normal-vaga{
    border-color: var(--terciary-color);
}
.especial-vaga{
    /* background-color: var(--especial-color); */
    border-color: var(--especial-color);
}
.ocupado{
    border-color: var(--ocupado-color);
}
.vaga img{
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 8px;
    border-color: var(--especial-color);
}
.border-top-none{
    border-style: solid;
    border-width: 10px;
    border-top: none;
}
.border-bottom-none{
    border-style: solid;
    border-width: 10px;
    border-bottom: none;
}