.tetudo{
    height: 88vh;
    display: flex;
}
.metade1{
    height: 100%;
    width: 30vw;
    border-style: solid;
}
.menu-perfil{
    margin-left: 40px;
}
.nome-perfil{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.nomes{
    margin-left: 15px;
}
a{
    color: var(--text-default);
}
a:hover{
    color: var(--hovering-terciary-color);
    transition: 500ms;
}

.metade2{
    height: 100%;
    width: 70vw;
    border-style: solid;
}