.reserv-list{
    height: 80%;
}

.reserv{
    height: 17vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: var(--border-default);
    border-radius: 2vh;
    margin-bottom: 3vh;
}
.day{
    width: 19%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.day .yellow-bar{
    height: 96%;
    width: 10%;
    margin-left: 2%;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background-color: var(--terciary-color);
}
.day .gray-bar{
    height: 96%;
    width: 10%;
    margin-left: 2%;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background-color: var(--text-default);
}
.day .special-day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.day .special-day h3{
    margin-bottom: 0;
    font-size: 4vh;
}
.day .line{
    height: 80%;
    width: 1.6px;
    background-color: var(--border-default);
}
.reserv-content{
    width: 50%;
}
.cancel-button{
    width: 15%;
}
.cancel-button a{
    color: #ff0000;
}
.cancel-button a:hover{
    transition: 300ms;
    color: #b80000;
}

@media(max-width: 992px){
    h3{
        font-size: 3vh;
    }
    .day .special-day h3{
        font-size: 3vh;
    }
    .reserv{
        height: 16vh;
    }
    .reserv-content p, .cancel-button a{
        font-size: 1.5vh;
    }
}