.vehicles-list{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-style: solid; */
}
table thead tr th{
    background-color: var(--terciary-color);
    color: white;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Cor para linhas ímpares */
}
  
table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor para linhas pares */
}
  